# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.sdf
*.opensdf

# Build artifacts
*.obj
*.ilk
*.pdb
*.tmp
*.exe
*.out
Debug/
Release/
x64/
x86/
Build/
bin/
obj/

# Library binaries
*.lib
*.dll
*.so

# OS files
.DS_Store
Thumbs.db
